traeningsDagbok/traeningsDagbok_django/dagbok/migrations/*.*
traeningsDagbok/traeningsDagbok_django/dagbok/migrations/
traeningsDagbok/traeningsDagbok_django/forum/migrations/*.*
traeningsDagbok/traeningsDagbok_django/forum/migrations/
*.pyc
*.geanyprj
*.sqlite3
