{% load staticfiles %}
{% include "dagbok/header.html" %}
<!-- THINGS IN HERE -->

<div class="col-12 chart-rect-wrapper">

  <div class="chart-rect">
    <h4 class="widget-header"><i class="fa fa-plus"></i><span class="icon-padding">Snabbtillägg träning</span></h4>
    <select id="selectFastWorkout" class="form-control">
      <option value="option0">Välj träning</option>
      <option value="fastWorkoutRunning">Löpning</option>
      <option value="fastWorkoutSwimming">Simning</option>
      <option value="fastWorkoutStyrke">Styrkelyftning</option>
    </select> <!-- END #selectFastWorkout -->

    <div id="fast-workout-wrapper">

      <div id="fastWorkoutRunning" class="fast-workout-sections">
        <form method="POST" action="{% url "dashboard" %}">
          {% csrf_token %}
          <input type="hidden" value="running" name="workoutType">
          <div class="row">
            <div class="col-2">
              <label class="fast-workout-label">Sträcka:</label>
            </div> <!-- END col-2 -->
            <div class="col-10">
              <div class="input-group input-group-workout">
                {{ WRF.stretch }}
                <span class="input-group-addon" id="basic-addon2">km</span>
              </div> <!-- END input-group -->
            </div> <!-- END col-10 -->
          </div> <!-- END row -->
          <div class="row">
            <div class="col-2">
              <label class="fast-workout-label">Tid:</label>
            </div> <!-- END col-2 -->
            <div class="col-10">
              <div class="input-group input-group-workout">
                {{ WRF.time }}
                <span class="input-group-addon" id="basic-addon2">min:sek</span>
              </div> <!-- END input-group -->
            </div> <!-- END col-10 -->
          </div> <!-- END row -->
          <div class="row">
            <div class="col-2">
              <label class="fast-workout-label">Känsla:</label>
            </div> <!-- END col-2 -->
            <div class="col-10">
              <div class="input-group input-group-workout">
                {{ WRF.feeling }}
              </div> <!-- END input-group -->
            </div> <!-- END col-10 -->
          </div> <!-- END row -->
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-success">Lägg till träning</button>
            </div> <!-- END col-12 -->
          </div> <!-- END row -->
        </form> <!-- END form running -->
      </div> <!-- END #fastWorkoutRunning -->

      <div id="fastWorkoutSwimming" class="fast-workout-sections">
        <form method="POST" action="{% url "dashboard" %}">
          {% csrf_token %}
          <input type="hidden" value="swimming" name="workoutType">
          <div class="row">
            <div class="col-2">
              <label class="fast-workout-label">Sträcka:</label>
            </div> <!-- END col-2 -->
            <div class="col-10">
              <div class="input-group input-group-workout">
                {{ WRF.stretch }}
                <span class="input-group-addon" id="basic-addon2">km</span>
              </div> <!-- END input-group -->
            </div> <!-- END col-10 -->
          </div> <!-- END row -->
          <div class="row">
            <div class="col-2">
              <label class="fast-workout-label">Tid:</label>
            </div> <!-- END col-2 -->
            <div class="col-10">
              <div class="input-group input-group-workout">
                {{ WRF.time }}
                <span class="input-group-addon" id="basic-addon2">min:sek</span>
              </div> <!-- END input-group -->
            </div> <!-- END col-10 -->
          </div> <!-- END row -->
          <div class="row">
            <div class="col-2">
              <label class="fast-workout-label">Känsla:</label>
            </div> <!-- END col-2 -->
            <div class="col-10">
              <div class="input-group input-group-workout">
                {{ WRF.feeling }}
              </div> <!-- END input-group -->
            </div> <!-- END col-10 -->
          </div> <!-- END row -->
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-success">Lägg till träning</button>
            </div> <!-- END col-12 -->
          </div> <!-- END row -->
        </form> <!-- END form swimming -->
      </div> <!-- END #fastWorkoutSwimming -->

      <div id="fastWorkoutStyrke" class="fast-workout-sections">
        <form method="POST" action="{% url "dashboard" %}">
          {% csrf_token %}
          <input type="hidden" value="weightlifting" name="workoutType">
          <div class="row">
            <div class="col-2">
              <label class="fast-workout-label">Övning:</label>
            </div> <!-- END col-2 -->
            <div class="col-10">
              <div class="input-group input-group-workout">
                {{ WRF.gym_type }}
              </div> <!-- END input-group -->
            </div> <!-- END col-10 -->
          </div> <!-- END row -->
          <div class="row">
            <div class="col-2">
              <label class="fast-workout-label">Vikt:</label>
            </div> <!-- END col-2 -->
            <div class="col-10">
              <div class="input-group input-group-workout">
                {{ WRF.gym_weight }}
                <span class="input-group-addon" id="basic-addon2">kg</span>
              </div> <!-- END input-group -->
            </div> <!-- END col-10 -->
          </div> <!-- END row -->
          <div class="row">
            <div class="col-2">
              <label class="fast-workout-label">Set:</label>
            </div> <!-- END col-2 -->
            <div class="col-10">
              <div class="input-group input-group-workout">
                {{ WRF.stretch }}
              </div> <!-- END input-group -->
            </div> <!-- END col-10 -->
          </div> <!-- END row -->
          <div class="row">
            <div class="col-2">
              <label class="fast-workout-label">Reps:</label>
            </div> <!-- END col-2 -->
            <div class="col-10">
              <div class="input-group input-group-workout">
                {{ WRF.time }}
              </div> <!-- END input-group -->
            </div> <!-- END col-10 -->
          </div> <!-- END row -->
          <div class="row">
            <div class="col-2">
              <label class="fast-workout-label">Känsla:</label>
            </div> <!-- END col-2 -->
            <div class="col-10">
              <div class="input-group input-group-workout">
                {{ WRF.feeling }}
              </div> <!-- END input-group -->
            </div> <!-- END col-10 -->
          </div> <!-- END row -->
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-success">Lägg till träning</button>
            </div> <!-- END col-12 -->
          </div> <!-- END row -->
        </form> <!-- END form styrke -->
      </div> <!-- END #fastWorkoutStyrke -->
    </div> <!-- END #fast-workout-wrapper -->
  </div> <!-- END chart-rect nummer 1 -->

  <div class="chart-rect">
    <h4 class="widget-header"><i class="fa fa-heartbeat"></i><span class="icon-padding">Dina senaste pass</span></h4>
    {% if workouts %}
    <table class="table table-striped table-hover">
      <tr>
        <th>
          Datum
        </th>
        <th>
          Sport
        </th>
        <th>
          Känsla
        </th>
      </tr>
      {% for field in workouts %}
      <tr class="showDetails" id="{{field.id}}" data-toggle="modal" data-target="#detailModal{{field.id}}">
        <td>{{ field.workoutDateNow.date }}</td>
        <td>{{ field.workoutSport }}</td>
        <td>{{ field.workoutFeel }}</td>
        <td class="hidden">{{ field.id }}</td>
      </tr> <!-- END loop that ads workouts -->
      {% endfor %}
    </table> <!-- END table with last workouts -->
      {% else %}
      <p>
        Vi hittade inga träningspass!
      </p>
      {% endif %}
  </div> <!-- END chart-rect nummer 2 -->
</div> <!-- END chart-rect-wrapper -->

<!-- Workout Modal -->
{% if workouts %}
    {% for workout in workouts %}
        {% include "dagbok/workoutmodal.html" %}
    {% endfor %}
{% endif %}

{% include "dagbok/footer.html" %}
