{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Träningsdojon</title>
    <link rel="shortcut icon" href="{% static "dagbok/img/sports.ico" %}">
    <link rel="stylesheet" href="{% static "dagbok/css/fbstyles.css" %}">
    <link rel="stylesheet" href="{% static "dagbok/css/style.css" %}">
    <link rel="stylesheet" href="{% static "dagbok/css/bootstrap.css" %}">
    
  </head>
  <body>
    <div class="fb-header-title">
      <h1>Träningsdojon</h1>
    </div>
    <div class="fb-wrapper">

      <!-- LÖPNING -->
      {% if workout.workoutSport == 'Löpning' %}
      <div class="row">
        <div class="col-12 fb-workout-header">
          <div class="fb-centered">
            <img src="{% static "dagbok/img/running.svg" %}" width="40px" alt="Löpning" /><h4 class="fb-workout-title">{{ workout.workoutSport }}</h4> <span class="fb-workout-by-user">av {{ workout.workoutUser }}</span>
          </div>
        </div> <!-- END col-12 -->
      </div> <!-- END row -->
      <div class="row">
        <div class="col-4 fb-workout-main-info">
          <div class="fb-centered">
            <img src="{% static "dagbok/img/calendar.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Datum" />
            <span class="fb-workout-border">{{ workout.workoutDateNow }}</span>
          </div>
        </div> <!-- END col-4 -->
        <div class="col-4 fb-workout-main-info">
          <div class="fb-centered">
            <img src="{% static "dagbok/img/distance.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Sträcka" />
            <span class="fb-workout-border">{{ workout.workoutStretch }} km</span>
          </div>
        </div> <!-- END col-4 -->
        <div class="col-4 fb-workout-main-info">
          <div class="fb-centered">
            <img src="{% static "dagbok/img/time-passing.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Tid" />
            <span class="fb-workout-border">{{ workout.workoutTime }} min : {{ workout.workoutSec }} sek</span>
          </div>
        </div> <!-- END col-4 -->
      </div> <!-- END row -->
      <div class="row fb-workout-content">
        <div class="col-6">
          <div class="fb-centered">
            <ul class="fb-workout-details-list">
              <li>
                <img src="{% static "dagbok/img/calories.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Kalorier" />
                {% if workout.kalorier == None %}
                <span class="fb-workout-no-border">---</span>
                {% else %}
                <span class="fb-workout-no-border">{{ workout.kalorier }}</span>
                {% endif %}
              </li>
            </ul>
          </div>
        </div> <!-- END col-6 -->
        <div class="col-6">
          <div class="fb-centered">
            <ul class="fb-workout-details-list">
              <li>
                <strong>Hur kändes det?</strong>
              </li>
              <li>
                {{ workout.workoutFeel }}
              </li>
            </ul>
          </div>
        </div> <!-- END col-6 -->
      </div> <!-- END row -->
      <div class="row fb-pulse">
        <div class="col-4">
          <div class="fb-centered">
            <img src="{% static "dagbok/img/cardiogram.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Maxpuls" />
            {% if workout.puls == None %}
            <span class="fb-workout-no-border">---</span>
            {% else %}
            <span class="fb-workout-no-border">{{ workout.puls }}</span>
            {% endif %}
          </div>
        </div> <!-- END col-4 -->
        <div class="col-4">
          <div class="fb-centered">
            <img src="{% static "dagbok/img/heart.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Minpuls" />
            {% if workout.minpuls == None %}
            <span class="fb-workout-no-border">---</span>
            {% else %}
            <span class="fb-workout-no-border">{{ workout.minpuls }}</span>
            {% endif %}
          </div>
        </div> <!-- END col-4 -->
        <div class="col-4">
          <div class="fb-centered">
            <img src="{% static "dagbok/img/pulse.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Snittpuls" />
            {% if workout.snittpuls == None %}
            <span class="fb-workout-no-border">---</span>
            {% else %}
            <span class="fb-workout-no-border">{{ workout.snittpuls }}</span>
            {% endif %}
          </div>
        </div> <!-- END col-4 -->
      </div> <!-- END row -->

      <!-- SIMNING -->
      {% elif workout.workoutSport == 'Simning' %}
      <div class="row">
        <div class="col-12 fb-workout-header">
          <div class="fb-centered">
            <img src="{% static "dagbok/img/swimming.svg" %}" width="40px" alt="Löpning" /><h4 class="fb-workout-title">{{ workout.workoutSport }}</h4> <span class="fb-workout-by-user">av {{ workout.workoutUser }}</span>
          </div>
        </div> <!-- END col-12 -->
      </div> <!-- END row -->
      <div class="row">
        <div class="col-4 fb-workout-main-info">
          <div class="fb-centered">
            <img src="{% static "dagbok/img/calendar.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Datum" />
            <span class="fb-workout-border">{{ workout.workoutDateNow }}</span>
          </div>
        </div> <!-- END col-4 -->
        <div class="col-4 fb-workout-main-info">
          <div class="fb-centered">
            <img src="{% static "dagbok/img/distance.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Sträcka" />
            <span class="fb-workout-border">{{ workout.workoutStretch }} km</span>
          </div>
        </div> <!-- END col-4 -->
        <div class="col-4 fb-workout-main-info">
          <div class="fb-centered">
            <img src="{% static "dagbok/img/time-passing.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Tid" />
            <span class="fb-workout-border">{{ workout.workoutTime }} min : {{ workout.workoutSec }} sek</span>
          </div>
        </div> <!-- END col-4 -->
      </div> <!-- END row -->
      <div class="row fb-workout-content">
        <div class="col-6">
          <div class="fb-centered">
            <ul class="fb-workout-details-list">
              <li>
                <img src="{% static "dagbok/img/calories.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Kalorier" />
                {% if workout.kalorier == None %}
                <span class="fb-workout-no-border">---</span>
                {% else %}
                <span class="fb-workout-no-border">{{ workout.kalorier }}</span>
                {% endif %}
              </li>
            </ul>
          </div>
        </div> <!-- END col-6 -->
        <div class="col-6">
          <div class="fb-centered">
            <ul class="fb-workout-details-list">
              <li>
                <strong>Hur kändes det?</strong>
              </li>
              <li>
                {{ workout.workoutFeel }}
              </li>
            </ul>
          </div>
        </div> <!-- END col-6 -->
      </div> <!-- END row -->
      <div class="row fb-pulse">
        <div class="col-4">
          <div class="fb-centered">
            <img src="{% static "dagbok/img/cardiogram.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Maxpuls" />
            {% if workout.puls == None %}
            <span class="fb-workout-no-border">---</span>
            {% else %}
            <span class="fb-workout-no-border">{{ workout.puls }}</span>
            {% endif %}
          </div>
        </div> <!-- END col-4 -->
        <div class="col-4">
          <div class="fb-centered">
            <img src="{% static "dagbok/img/heart.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Minpuls" />
            {% if workout.minpuls == None %}
            <span class="fb-workout-no-border">---</span>
            {% else %}
            <span class="fb-workout-no-border">{{ workout.minpuls }}</span>
            {% endif %}
          </div>
        </div> <!-- END col-4 -->
        <div class="col-4">
          <div class="fb-centered">
            <img src="{% static "dagbok/img/pulse.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Snittpuls" />
            {% if workout.snittpuls == None %}
            <span class="fb-workout-no-border">---</span>
            {% else %}
            <span class="fb-workout-no-border">{{ workout.snittpuls }}</span>
            {% endif %}
          </div>
        </div> <!-- END col-4 -->
      </div> <!-- END row -->

      <!-- Styrketräning -->
      {% elif workout.workoutSport == 'Styrketräning' %}
      <div class="row">
        <div class="col-12 fb-workout-header">
          <div class="fb-centered">
            <img src="{% static "dagbok/img/dumbells.svg" %}" width="40px" alt="Löpning" /><h4 class="fb-workout-title">{{ workout.workoutSport }}</h4> <span class="fb-workout-by-user">av {{ workout.workoutUser }}</span>
          </div>
        </div> <!-- END col-12 -->
      </div> <!-- END row -->
      <div class="row">
        <div class="col-4 fb-workout-main-info">
          <div class="fb-centered">
            <img src="{% static "dagbok/img/calendar.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Datum" />
            <span class="fb-workout-border">{{ workout.workoutDateNow }}</span>
          </div>
        </div> <!-- END col-4 -->
        <div class="col-4 fb-workout-main-info">
          <div class="fb-centered">
            <img src="{% static "dagbok/img/weightlifter-frontal-silhouette.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Övning" />
            <span class="fb-workout-border">{{ workout.gym_type }}</span>
          </div>
        </div> <!-- END col-4 -->
        <div class="col-4 fb-workout-main-info">
          <div class="fb-centered">
            <img src="{% static "dagbok/img/weight-tool.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Vikt" />
            <span class="fb-workout-border">{{ workout.gym_weight }} kg</span>
          </div>
        </div> <!-- END col-4 -->
      </div> <!-- END row -->
      <div class="row fb-workout-content">
        <div class="col-6">
          <div class="fb-centered">
            <ul class="fb-workout-details-list">
              {% if workout.gym_sets == 0 %}
              <li>
                <strong>Sets:</strong> ---
              </li>
              {% else %}
              <li>
                <strong>Sets:</strong> {{ workout.gym_sets }}
              </li>
              {% endif %}
              {% if workout.gym_reps == 0 %}
              <li>
                <strong>Reps:</strong> ---
              </li>
              {% else %}
              <li>
                <strong>Reps:</strong> {{ workout.gym_reps }}
              </li>
              {% endif %}
              <li>
                <img src="{% static "dagbok/img/calories.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Kalorier" />
                {% if workout.kalorier == None %}
                <span class="fb-workout-no-border">---</span>
                {% else %}
                <span class="fb-workout-no-border">{{ workout.kalorier }}</span>
                {% endif %}
              </li>
            </ul>
          </div>
        </div> <!-- END col-6 -->
        <div class="col-6">
          <div class="fb-centered">
            <ul class="fb-workout-details-list">
              <li>
                <strong>Hur kändes det?</strong>
              </li>
              <li>
                {{ workout.workoutFeel }}
              </li>
            </ul>
          </div>
        </div> <!-- END col-6 -->
      </div> <!-- END row -->
      <div class="row fb-pulse">
        <div class="col-4">
          <div class="fb-centered">
            <img src="{% static "dagbok/img/cardiogram.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Maxpuls" />
            {% if workout.puls == None %}
            <span class="fb-workout-no-border">---</span>
            {% else %}
            <span class="fb-workout-no-border">{{ workout.puls }}</span>
            {% endif %}
          </div>
        </div> <!-- END col-4 -->
        <div class="col-4">
          <div class="fb-centered">
            <img src="{% static "dagbok/img/heart.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Minpuls" />
            {% if workout.minpuls == None %}
            <span class="fb-workout-no-border">---</span>
            {% else %}
            <span class="fb-workout-no-border">{{ workout.minpuls }}</span>
            {% endif %}
          </div>
        </div> <!-- END col-4 -->
        <div class="col-4">
          <div class="fb-centered">
            <img src="{% static "dagbok/img/pulse.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Snittpuls" />
            {% if workout.snittpuls == None %}
            <span class="fb-workout-no-border">---</span>
            {% else %}
            <span class="fb-workout-no-border">{{ workout.snittpuls }}</span>
            {% endif %}
          </div>
        </div> <!-- END col-4 -->
      </div> <!-- END row -->
      {% endif %}
    </div> <!-- END fb-wrapper -->


    <div class="fb-information-div">
      <h3 class="fb-information-title">Vill du också vara med?</h3>
      <p>Träningsdojon är en träningsdagbok på nätet som även fungerar som en mötesplats för alla som älskar träning. Du har möjlighet att lägga upp dina träningspass, följa din utveckling och dela med dig av dina prestationer med andra. Vi har även ett socialt forum där du kan prata med andra likasinnade. <a href="/#register-section"><strong>Joina oss idag</strong></a>, och börja följa dina vänner som redan har tagit steget.</p>
    </div> <!-- END fb-information-div -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "dagbok/script/bootstrap.js" %}"></script>
    <script>
      $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
  </body>
</html>
