<div class="row">
  <footer id="dashboard-footer" class="clearfix">
    <div class="pull-left">
      <strong>&copy; Copyright Training of Doom</strong>
    </div>
    <div class="pull-right">Träningsdojon Dashboard</div>
  </footer>
</div>
</div>
</div>
</div>
{% else %}
loggaindååååå
{% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="{% static "dagbok/script/script.js" %}"></script>
<script type="text/javascript" src="{% static "dagbok/script/bootstrap.js" %}"></script>
</body>
</html>
