{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static "dagbok/css/style.css" %}">
    <link rel="stylesheet" href="{% static "dagbok/css/dashboard.css" %}">
    <link rel="stylesheet" href="{% static "dagbok/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "dagbok/css/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static "dagbok/css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "dagbok/css/fullcalendar.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "dagbok/script/script.js" %}"></script>
    <script src="{% static "dagbok/script/lib/jquery.min.js" %}"></script>
    <script src="{% static "dagbok/script/lib/moment.min.js" %}"></script>
    <script src="{% static "dagbok/script/fullcalendar.js" %}"></script>
    <script src="{% static "dagbok/script/lang/sv.js" %}"></script>
    <script type="text/javascript" src="{% static "dagbok/script/bootstrap.js" %}"></script>
  </head>
  <body>
    <div class="container display-table">
      <div class="row display-table-row">
        <div class="col-3 display-table-cell valign-top clearfix" id="dashboard-menu">
          <h1>Träningsdojon</h1>
          <div id="searchForm">
          <form method="post" action="{% url "searched" %}">
          {% csrf_token %}
       
             <input type="text" name="search" id="header-search-field" placeholder="Sök användare">
             <button class="whateverbuttonofdoom" type="submit" > <span id="search-icon"><i class="fa fa-search" aria-hidden="true"></i></span></button>
              
          </form>
        </div>
          
          
          <ul>
            <li class="link">
              <a class="list-group-item" href="{% url "dashboard" %}">
                <i class="fa fa-dashboard" aria-hidden="true"></i>
                <span>Dashboard</span>
              </a>
            </li>
            <li class="link">
              <a class="list-group-item" href="#collapse-post" data-toggle="collapse" aria-controls="collapse-post">
                <i class="fa fa-heartbeat" aria-hidden="true"></i>
                <span>Min träning</span>
              </a>
            </li>

            <ul class="collapse" id="collapse-post">
              <li>
                <a class="list-group-item list-group-item-collapsed" href="{% url "calendar" %}">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <span>Kalender</span>
                </a>
              </li>
              <li>
                <a class="list-group-item list-group-item-collapsed" href="#">
                  <i class="fa fa-line-chart" aria-hidden="true"></i>
                  <span>Framsteg</span>
                </a>
              </li>
              <li>
                <a class="list-group-item list-group-item-collapsed" href="#">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                  <span>Lägg till träning</span>
                </a>
              </li>
              <li>
                <a class="list-group-item list-group-item-collapsed" href="#">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <span>Mål</span>
                </a>
              </li>
            </ul>

            <li class="link">
              <a class="list-group-item" href="{% url "user" %}{{user.username}}">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>Profil</span>
              </a>
            </li>
            <li class="link">
              <a class="list-group-item" href="#">
                <i class="fa fa-cogs" aria-hidden="true"></i>
                <span>Inställningar</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-9 display-table-cell valign-top" id="dashboard-content">
          <div class="row fix">
            <header id="nav-header" class="clearfix">
              <div class="col-12" id="nav-header-fix">
                <div class="pull-left">
                  <ul>
                    <li id="welcome-name">Hej {{ user.get_username }}, välkommen till din dashboard!</li>
                  </ul>
                </div>
                <ul class="pull-right">
                  <li class="fixed-width">
                    <a href="#">
                      <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
                      <span class="label label-warning">3</span>
                    </a>
                  </li>
                  <li>
                    <a href="{% url "logout" %}" class="logout">
                      <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>
                      Logga ut
                    </a>
                  </li>
                </ul>
              </div>
            </header>

            <div class="col-12 chart-rect-wrapper">
