{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="name" content="content">
    <title>Träningsdojon</title>
    <link rel="stylesheet" href="{% static "dagbok/css/style.css" %}">
    <link rel="stylesheet" href="{% static "dagbok/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "dagbok/css/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static "dagbok/css/normalize.css" %}">
  </head>
  <body>

    <!-- MODALS -->

    <!-- Register Modal -->
    <div id="registerModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Register Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Registrera dig</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" action="{% url 'register' %}" method="POST">
                {% csrf_token %}
              <div class="form-group">
                <div class="row">
                  <div class="col-3">
                    <label for="inputEmail3" class="control-label">Användarnamn:</label>
                  </div>
                  <div class="col-9">
                    <input type="text" class="form-control" id="inputEmailReg" placeholder="Email">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-3">
                    <label for="inputPassword3" class="control-label">Lösenord:</label>
                  </div>
                  <div class="col-9">
                    <input type="password" class="form-control" id="inputPasswordReg" placeholder="Password">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-12">
                    
                    <button type="submit" class="btn btn-default">Registrera</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Register Modal END -->

    <!-- Login Modal -->
    <div id="loginModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Login Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Logga in</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <div class="form-group">
                <div class="row">
                  <div class="col-3">
                    <label for="inputEmail3" class="control-label">Användarnamn:</label>
                  </div>
                  <div class="col-9">
                    <input type="text" class="form-control" id="inputEmailLog" placeholder="Email">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-3">
                    <label for="inputPassword3" class="control-label">Lösenord:</label>
                  </div>
                  <div class="col-9">
                    <input type="password" class="form-control" id="inputPasswordLog" placeholder="Password">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-12">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"> Kom ihåg mig!
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-12">
                    <button type="submit" class="btn btn-default">Logga in</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Login Modal END -->

    <!-- MODALS END -->

    <header class="hero">
      <div class="row navbar">
        <div class="col-2">
          <h1>Träningsdojon</h1>
        </div>
        <div class="col-10">
          <ul class="menu">
            <li><a data-toggle="modal" data-target="#registerModal">Registrera dig</a></li>
            <li><a data-toggle="modal" data-target="#loginModal">Logga in</a></li>
            <li><a href="#about-section">Om Träningsdojon</a></li>
            <li><a href="#contact-section">Kontakt</a></li>
            <li class="icon" id="toggleButton"><a>&#9776;</a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <section class="register-page">
      <div class="row">
        <div class="col-12 welcome">
          <div class="welcome-wrapper">
            <h3>Registrera dig idag!</h3>
            <p>
              Vill du hålla koll på dina löppass, hur mycket du lyfter eller bara hålla koll på din träning i allmänhet? I så fall har du hittat rätt! Registrera dig gratis och börja logga din träning idag!
            </p>
            <div class="circle-wrapper">
              <div class="register-circle">
                <span>Gå med!</span>
              </div>
              <div class="login-circle">
                <span>Logga in!</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="about" id="about-section">
      <div class="row">
        <div class="col-12 about-us">
          <div class="about-wrapper">
            <h3>Vad är Träningsdojon?</h3>
            <p>
              Träningsdojon är en portal där du kan logga din träning, följa dina vänner och få träningstips av andra. Portalen föddes våren 2016 när ett team på 3 utvecklare och en testare fick i uppdrag i skolan att göra en webbapplikation. Vår vision med sidan är att alla ska ha en gemensam community där allt cikulerar runt träning.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="contact" id="contact-section">
      <div class="row">
        <div class="col-5">
          <div class="contact-us-wrapper">
            <h3>Kontakta oss</h3>
            <p>
              Om du undrar över något eller bara vill prata så får du gärna använda vårt kontaktformulär här bredvid.
            </p>
          </div>
        </div>
        <div class="col-7">
          <div class="form-wrapper">
            <p id="message-sent">
              Tack för ditt mail!
            </p>
            <form class="contact-form" action="index.html" method="post">
              <label>Namn:</label>
              <input type="text" name="name">
              <label>Email:</label>
              <input type="text" name="email">
              <label>Meddelande:</label>
              <textarea name="message" rows="8" cols="40"></textarea>
              <input type="button" name="send" value="Skicka">
            </form>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="footer-wrapper">
        <ul class="footer-menu">
          <li><a href="#">Registrera dig</a></li>
          <li><a href="#">Logga in</a></li>
          <li><a href="#about-section">Om Träningsdojon</a></li>
          <li><a href="#contact-section">Kontakt</a></li>
        </ul>
        <p>
          Copyright Training of Doom
        </p>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "dagbok/script/script.js" %}"></script>
    <script type="text/javascript" src="{% static "dagbok/script/bootstrap.js" %}"></script>
  </body>
</html>
