{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="name" content="content">
    <title>Träningsdojon</title>
    <link rel="stylesheet" href="{% static "dagbok/css/style.css" %}">
    <link rel="stylesheet" href="{% static "dagbok/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "dagbok/css/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static "dagbok/css/normalize.css" %}">
  </head>
  <body>

    <header class="hero">
      <div class="row navbar">
        <div class="col-2">
          <h1>Träningsdojon</h1>
        </div>
        <div class="col-10">
          <ul class="menu">
            {% if user.is_authenticated %}
                <li><a href="{% url "dashboard" %}">Din Sida</a></li>
                <li><a href="{% url "logout" %}">Logga ut</a></li>
            {% else %}
                <li><a href="#register-section">Registrera dig</a></li>
                <li><a href="#register-section">Logga in</a></li>
            {% endif %}
            <li><a href="#about-section">Om Träningsdojon</a></li>
            <li><a href="#contact-section">Kontakt</a></li>
            <li class="icon" id="toggleButton"><a>&#9776;</a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <section class="register-page" id="register-section">
      <div class="row">
        <div class="col-12 welcome">
          <div class="welcome-wrapper">
            <h3>Varför ska du vara medlem?</h3>
            <p>
              Vill du hålla koll på dina löppass, hur mycket du lyfter eller bara hålla koll på din träning i allmänhet? I så fall har du hittat rätt! Registrera dig gratis och börja logga din träning idag!
            </p>

            <div class="row">
              <div class="col-6" id="register-area">
                  {% include "dagbok/registersection.html" %}
              </div>

              <div class="col-6 nice-border" id="login-area">
                  {% include "dagbok/loginsection.html" %}
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="about" id="about-section">
      <div class="row">
        <div class="col-12 about-us">
          <div class="about-wrapper">
            <h3>Vad är Träningsdojon?</h3>
            <p>
              Träningsdojon är en portal där du kan logga din träning, följa dina vänner och få träningstips av andra. Portalen föddes våren 2016 när ett team på 3 utvecklare och en testare fick i uppdrag i skolan att göra en webbapplikation. Vår vision med sidan är att alla ska ha en gemensam community där allt cikulerar runt träning.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="contact" id="contact-section">
      <div class="row">
        <div class="col-5">
          <div class="contact-us-wrapper">
            <h3>Kontakta oss</h3>
            <p>
              Om du undrar över något eller bara vill prata så får du gärna använda vårt kontaktformulär här bredvid.
            </p>
          </div>
        </div>
        <div class="col-7">
          <div class="form-wrapper">
            <p id="message-sent">
              Formulär här nångång sen
            </p>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="footer-wrapper">
        <ul class="footer-menu">
          <li><a href="#">Registrera dig</a></li>
          <li><a href="#">Logga in</a></li>
          <li><a href="#about-section">Om Träningsdojon</a></li>
          <li><a href="#contact-section">Kontakt</a></li>
        </ul>
        <p>
          Copyright Training of Doom
        </p>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "dagbok/script/script.js" %}"></script>
    <script type="text/javascript" src="{% static "dagbok/script/bootstrap.js" %}"></script>
  </body>
</html>
