{% load staticfiles %}
{% include "dagbok/header.html" %}

{% if user %}

<div class="chart-rect full-rect">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#profil" aria-controls="profil" role="tab" data-toggle="tab">Profil</a></li>
    {% if extended.user_id.id == request.user.id%}
    <li role="presentation"><a href="#viewFriends" aria-controls="viewFriends" role="tab" data-toggle="tab">Följer</a></li>
    {% endif %}
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="profil">
      <div class="row">
        <div class="col-3">
          {% if extended.picture %}
          <img src="{{extended.picture}}" class="img-center" width="150px" alt="Profilbild" />
          {% else %}
          <img src="{% static "dagbok/img/profilepic.png" %}" class="img-center" width="150px" alt="Profilbild" />
          {% endif %}
        </div>
        <div class="col-3">
          <div class="centered-profile">
            <img src="{% static "dagbok/img/calendar2.svg" %}" width="30px" alt="Antal pass" /><span class="workoutDetailsStyling">{{ total_workouts }} pass</span>
          </div>
        </div>
        <div class="col-3">
          <div class="centered-profile">
            <img src="{% static "dagbok/img/calories.svg" %}" width="30px" alt="Antal pass" /><span class="workoutDetailsStyling">
                {% if kcal %} {{kcal}} {%else%}0{%endif%} kalorier bränt</span>
          </div>
        </div>
        <div class="col-3">
          <div class="centered-profile">
            <img src="{% static "dagbok/img/distance.svg" %}" width="30px" alt="Antal pass" /><span class="workoutDetailsStyling"> {% if km %} {{km}} {%else%}0{%endif%} km avverkad</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 profile-details">
          <p class="full-name-profile">{{ full_name.full_name }}</p>
          <ul>
            <li>
              <i class="fa fa-map-marker"></i> <span>{{extended.city}}</span>
            </li>
            <li>
              <i class="fa fa-envelope"></i> <span>{{ user.email }}</span>
            </li>
            <li>
              <strong>Senast inloggad:</strong> {{ user.last_login }}
            </li>
            <!-- KOMPISKNAPPEN -->
           {% if buddy_button %}
           <li>
             <form method="post" action="{% url "add_buddy" %}">
               {% csrf_token %}
                <input type="hidden" value="{{user.id}}" name="get_buddy">
                <button type="submit" class="btn btn-default">Börja följa</button>
              </form>
            </li>
           {% endif %}
           <!-- KOMPISKNAPPEN END -->
          </ul>
        </div>

        <div class="col-8 profile-favorite-sports">
          <h4 class="centered">Favoritsporter</h4>
          <div class="favorite-sports">
              {% for sport in sports %}
              {% if sport == "gym" %}
            <img src="{% static "dagbok/img/dumbells.svg" %}" width="80px" alt="Styrkelyftning" data-toggle="tooltip" title="Styrketräning" />
            {% endif %}
            {% if sport == "swim"%}
            <img src="{% static "dagbok/img/swimming.svg" %}" width="80px" alt="Simning" data-toggle="tooltip" title="Simning" />
            {% endif %}
            {% if sport == "run" %}
            <img src="{% static "dagbok/img/running.svg" %}" width="80px" alt="Löpning" data-toggle="tooltip" title="Löpning" />
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="viewFriends">
      {% if zippat %}
      {% for buddy,picture,workout in zippat %}
      <div class="row add-comment-forum">
        <div class="col-12 forum-subjects buddy-header">
          <a href="{% url "user" %}{{buddy}}">{{buddy}}</a>
        </div>
      </div>
         <div class="row forum-categories">
          <div class="col-3">
            {% if picture %}
            <div class="nailthumb-container">
              <img src="{{picture}}" alt="Profilbild" />
            </div>
            {% else %}
            <div class="nailthumb-container">
              <img src="{% static "dagbok/img/profilepic.png" %}" alt="Profilbild" />
            </div>
            {% endif %}
          </div> <!-- END col-3 -->
           <div class="col-9">
            {% if workout %}
                {% for x in workout %}
                    <h4 class="buddy-last-workout">Deras senaste pass</h4>
                    
                    
                    <span class="buddy-time">{{x.0}}</span>
                    <span class="buddy-workout-type">{{x.1}}</span>
                {% endfor %}
            {% else %}
            <h4 class="buddy-last-workout">Inget registrerat pass</h4>
            {% endif %}


           </div> <!-- END col-9 -->
         </div> <!-- END row -->
         {% endfor %}
         <div class="row">
           <div class="col-12">
             {% else%}
             Du har inga kompisar :(
             {% endif %}
           </div> <!-- END col-12 -->
         </div> <!-- END row -->
    </div> <!-- END OF TABPANEL -->
  </div> <!-- END OF TAB-CONTENT -->



</div> <!-- END chart-rect full-rect -->
{% else %}
  Dåligt sökt
{% endif %}

<script type="text/javascript">
  jQuery(document).ready(function() {
      jQuery('.nailthumb-container').nailthumb({width:80,height:80,fitDirection:'top left'});
  });
</script>


{% include "dagbok/footer.html" %}
