{% load staticfiles %}
{% include "dagbok/header.html" %}

{% if user %}

<div class="chart-rect full-rect">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#profil" aria-controls="profil" role="tab" data-toggle="tab">Profil</a></li>
    {% if user.id == request.user.id %}
    <li role="presentation"><a href="#changeProfile" aria-controls="changeProfile" role="tab" data-toggle="tab">Ändra din profil</a></li>
    <li role="presentation"><a href="#viewFriends" aria-controls="viewFriends" role="tab" data-toggle="tab">Kompisar</a></li>
    
    {% endif %}
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="profil">
      <div class="row">
        <div class="col-3">
            {% if extended.picture %}
          <img src="{{extended.picture}}" class="img-center" width="150px" alt="Profilbild" />
          {% else %}
          <img src="{% static "dagbok/img/profilepic.png" %}" class="img-center" width="150px" alt="Profilbild" />
          {% endif %}
        </div>
        <div class="col-3">
          <!-- <h1>{{user.username}}</h1> -->
          <div class="centered-profile">
            <img src="{% static "dagbok/img/calendar2.svg" %}" width="30px" alt="Antal pass" /><span class="workoutDetailsStyling">{{ total_workouts }} pass</span>
          </div>
        </div>
        <div class="col-3">
          <div class="centered-profile">
            <img src="{% static "dagbok/img/time-passing.svg" %}" width="30px" alt="Antal pass" /><span class="workoutDetailsStyling"><!-- Räkna ut total tid här -->tid spenderad</span>
          </div>
        </div>
        <div class="col-3">
          <div class="centered-profile">
            <img src="{% static "dagbok/img/distance.svg" %}" width="30px" alt="Antal pass" /><span class="workoutDetailsStyling"><!-- Räkna ut total sträcka här --> km avverkad</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 profile-details"> 
          <p class="full-name-profile">{{ full_name.full_name }}</p>
          <ul>
            <li>
              <i class="fa fa-map-marker"></i> <span>{{extended.city}}</span>
            </li>
            <li>
              <i class="fa fa-envelope"></i> <span>{{ user.email }}</span>
            </li>
            <li>
              <strong>Senast inloggad:</strong> {{ user.last_login }}
            </li>
            <!-- KOMPISKNAPPEN -->
           {% if buddy_button %}
           <li>
             <form method="post" action="{% url "add_buddy" %}">
               {% csrf_token %}
                <input type="hidden" value="{{user.id}}" name="get_buddy">
                <button type="submit" class="btn btn-default">BLI KOMPIS</button>
              </form>
            </li>
           {% endif %}
           <!-- KOMPISKNAPPEN END -->
          </ul>
        </div>
 
        <div class="col-8 profile-favorite-sports">
          <h4 class="centered">Favoritsporter</h4>
          <div class="favorite-sports">
              {% for sport in sports %}
              {% if sport == "gym" %}
            <img src="{% static "dagbok/img/dumbells.svg" %}" width="80px" alt="Styrkelyftning" />
            {% endif %}
            {% if sport == "swim"%}  
            <img src="{% static "dagbok/img/swimming.svg" %}" width="80px" alt="Simning" />
            {% endif %}
            {% if sport == "run" %}
            <img src="{% static "dagbok/img/running.svg" %}" width="80px" alt="Löpning" />
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="changeProfile">
      <div class="col-12 change_stuff">
       <form method="POST" action="{% url "update_user" %}">
            {% csrf_token %}
        <input type="hidden" value="{{user.username}}" name="username">
        <p>Förnamn:<input value="{{user.first_name}}" name="firstname"></p>
        <p>Efternamn:<input value="{{user.last_name}}" name="lastname"></p>
        <p>Email:<input value="{{user.email}}" name="email"></p>
        <p>Bild:<input value="{{extended.picture}}" name="picture"></p>
        
        <p>FavoritSport:</p>
                
        <input type="checkbox" name="gym" {% if "gym" in sports %}checked{% endif %}>Gym
        <input type="checkbox" name="swim" {% if "swim" in sports %}checked{% endif %}>Simning
        <input type="checkbox" name="run" {% if "run" in sports %}checked{% endif %}>Löpning
        
        
        <p>Stad:<input value="{{ extended.city}}" name="city"></p>

        <p>Nytt lösenord:<input type="password" name="new_password"></p>
        <p>Repetera lösenord:<input type="password" name="new_password_repeat"></p>
        <p>Nuvarande Lösenord:<input type="password" name="current_password">Måste vara ifyllt om info skall sparas</p>
        <button type="submit" class="btn btn-success">Ändra info</button>
      </form>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="viewFriends">
         {% if buddies %} 
         <ul>
         {% for buddy in buddies %}
            <li><a href="{% url "user" %}{{buddy}}">{{buddy}}</a></li>
         {% endfor %}
         </ul>
         {% else%}
         Du har inga kompisar :(
         {% endif %}
    
    </div>
  </div>

</div>
{% else %}
  DÅligt sökt
{% endif %}


{% include "dagbok/footer.html" %}
