{% load staticfiles %}
{% include "dagbok/header.html" %}

{% if user %}

<div class="chart-rect full-rect">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#profil" aria-controls="profil" role="tab" data-toggle="tab">Profil</a></li>
    <li role="presentation"><a href="#changeProfile" aria-controls="changeProfile" role="tab" data-toggle="tab">Ändra din profil</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="profil">
      <div class="col-12">
        <img src="{% static "dagbok/img/profilepic.png" %}" width="150px" alt="Profilbild" />
        <h1>{{user.username}}</h1>
            <p>Namn: {{ full_name.full_name }}</p>
            <p>Stad: måste utöka User models.Model om vi ska ha något sånt här</p>
            <p>email: {{ user.email }}</p>
            <p>Senast inloggad: {{ user.last_login }}</p>
            <p>ID: {{ user.id }}</p>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="changeProfile">
      TEST ÄNDRA DIN PROFIL
    </div>
  </div>

</div>
{% else %}
  DÅligt sökt
{% endif %}


{% include "dagbok/footer.html" %}
