{% load staticfiles %}

<div id="detailModal{{workout.id}}" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Register Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>

        {% if workout.workoutSport == 'Loepning' %}
        <img src="{% static "dagbok/img/running.svg" %}" width="40px" alt="Styrketräning" /><h4 class="modal-title workoutDetails">{{ workout.workoutSport }}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-4">
            <div class="centered">
              <img src="{% static "dagbok/img/calendar.svg" %}" width="20px" alt="" />
              <span class="workoutDetailsStyling">{{ workout.workoutDateNow.date }}</span>
            </div>
          </div>
          <div class="col-4">
            <div class="centered">
              <img src="{% static "dagbok/img/distance.svg" %}" width="20px" alt="" />
              <span class="workoutDetailsStyling">{{ workout.workoutStretch }} km</span>
            </div>
          </div>
          <div class="col-4">
            <div class="centered">
              <img src="{% static "dagbok/img/time-passing.svg" %}" width="20px" alt="" />
              <span class="workoutDetailsStyling">{{ workout.workoutTime }} min : {{ workout.workoutSec }} sek</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <strong>Känsla:</strong> {{ workout.workoutFeel }}
          </div>
        </div>

        {% elif workout.workoutSport == 'Simning' %}
        <img src="{% static "dagbok/img/swimming.svg" %}" width="40px" alt="Styrketräning" /><h4 class="modal-title workoutDetails">{{ workout.workoutSport }}</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-4">
            <div class="centered">
              <img src="{% static "dagbok/img/calendar.svg" %}" width="20px" alt="" />
              <span class="workoutDetailsStyling">{{ workout.workoutDateNow.date }}</span>
            </div>
          </div>
          <div class="col-4">
            <div class="centered">
              <img src="{% static "dagbok/img/distance.svg" %}" width="20px" alt="" />
              <span class="workoutDetailsStyling">{{ workout.workoutStretch }} km</span>
            </div>
          </div>
          <div class="col-4">
            <div class="centered">
              <img src="{% static "dagbok/img/time-passing.svg" %}" width="20px" alt="" />
              <span class="workoutDetailsStyling">{{ workout.workoutTime }} min : {{ workout.workoutSec }} sek</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <strong>Känsla:</strong> {{ workout.workoutFeel }}
          </div>
        </div>

        {% elif workout.workoutSport == 'Styrketraening' %}
        <img src="{% static "dagbok/img/dumbells.svg" %}" width="40px" alt="Styrketräning" /><h4 class="modal-title workoutDetails">{{ workout.gym_type }}</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-4">
            <div class="centered">
              <img src="{% static "dagbok/img/calendar.svg" %}" width="20px" alt="" />
              <span class="workoutDetailsStyling">{{ workout.workoutDateNow.date }}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="centered">
              <img src="{% static "" %}" width="20px" alt="" />
              <span class="workoutDetailsStyling">{{ workout.gym_weight }} kg</span>
            </div>
          </div>
          <div class="col-4">
            <div class="centered">
              <img src="{% static "dagbok/img/distance.svg" %}" width="20px" alt="" />
              <span class="workoutDetailsStyling">{{ workout.gym_sets }} set</span>
            </div>
          </div>
          <div class="col-4">
            <div class="centered">
              <img src="{% static "dagbok/img/time-passing.svg" %}" width="20px" alt="" />
              <span class="workoutDetailsStyling">{{ workout.gym_reps }} repetioner</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <strong>Känsla:</strong> {{ workout.workoutFeel }}
          </div>
        </div>

        {% endif %}

    {{ workout.workoutSport }}
    {{ workout.workoutFeel}}
    {{ workout.workoutUser}}
    {{ workout.workoutStretch}}
    {{ workout.workoutTime }}
    {{ workout.workoutSec }}
    {{ workout.gym_type }}
    {{ workout.gym_weight }}
    {{ workout.puls }}
    {{ workout.snittpuls }}
    {{ workout.minpuls}}
    {{ workout.kalorier }}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="register-button" data-dismiss="modal">Stäng</button>
      </div>
    </div>
  </div>
</div>
