{% load staticfiles %}

<div id="detailModal{{workout.id}}" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Register Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>

        <!-- LÖPNING -->
        {% if workout.workoutSport == 'Loepning' %}
        <img src="{% static "dagbok/img/running.svg" %}" width="40px" alt="Styrketräning" /><h4 class="modal-title workoutDetails">{{ workout.workoutSport }}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-4">
            <div class="centered">
              <img src="{% static "dagbok/img/calendar.svg" %}" width="20px" alt="" data-toggle="tooltip" title="Datum" />
              <span class="workoutDetailsStyling">{{ workout.workoutDateNow.date }}</span>
            </div> <!-- END centered -->
          </div> <!-- END col-4 -->
          <div class="col-4">
            <div class="centered">
              <img src="{% static "dagbok/img/distance.svg" %}" width="20px" alt="" data-toggle="tooltip" title="Sträcka" />
              <span class="workoutDetailsStyling">{{ workout.workoutStretch }} km</span>
            </div> <!-- END centered -->
          </div> <!-- END col-4 -->
          <div class="col-4">
            <div class="centered">
              <img src="{% static "dagbok/img/time-passing.svg" %}" width="20px" alt="" data-toggle="tooltip" title="Tid" />
              <span class="workoutDetailsStyling">{{ workout.workoutTime }} min : {{ workout.workoutSec }} sek</span>
            </div> <!-- END centered -->
          </div> <!-- END col-4 -->
        </div> <!-- END row -->
        <div class="row">
          <div class="col-5">
            <ul class="workout-details-list">
              <li>
                <img src="{% static "dagbok/img/calories.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Kalorier" />
                {% if workout.kalorier == None %}
                <span class="workoutDetailsStyling-noborder">---</span>
                {% else %}
                <span class="workoutDetailsStyling-noborder">{{ workout.kalorier }}</span>
                {% endif %}
              </li>
            </ul>
          </div> <!-- END col-6 -->
          <div class="col-7">
            <ul class="workout-details-list">
              <li><strong>Hur kändes det?</strong></li>
              <li>{{ workout.workoutFeel }}</li>
            </ul>
          </div> <!-- END col-6 -->
        </div> <!-- END row -->
        <div class="row pulse-row-details">
          <div class="col-4">
            <div class="centered">
              <img src="{% static "dagbok/img/cardiogram.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Maxpuls" />
              {% if workout.puls == None %}
              <span class="workoutDetailsStyling-noborder">---</span>
              {% else %}
              <span class="workoutDetailsStyling-noborder">{{ workout.puls }}</span>
              {% endif %}
            </div> <!-- END centered -->
          </div> <!-- END col-4 -->
          <div class="col-4">
            <div class="centered">
              <img src="{% static "dagbok/img/heart.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Minpuls" />
              {% if workout.minpuls == None %}
              <span class="workoutDetailsStyling-noborder">---</span>
              {% else %}
              <span class="workoutDetailsStyling-noborder">{{ workout.minpuls }}</span>
              {% endif %}
            </div> <!-- END centered -->
          </div> <!-- END col-4 -->
          <div class="col-4">
            <div class="centered">
              <img src="{% static "dagbok/img/pulse.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Snittpuls" />
              {% if workout.snittpuls == None %}
              <span class="workoutDetailsStyling-noborder">---</span>
              {% else %}
              <span class="workoutDetailsStyling-noborder">{{ workout.snittpuls }}</span>
              {% endif %}
            </div> <!-- END centered -->
          </div> <!-- END col-4 -->
        </div><!-- END row -->

        <!-- SIMNING -->
        {% elif workout.workoutSport == 'Simning' %}
        <img src="{% static "dagbok/img/swimming.svg" %}" width="40px" alt="Styrketräning" /><h4 class="modal-title workoutDetails">{{ workout.workoutSport }}</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-4">
            <div class="centered">
              <img src="{% static "dagbok/img/calendar.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Datum" />
              <span class="workoutDetailsStyling">{{ workout.workoutDateNow.date }}</span>
            </div> <!-- END centered -->
          </div> <!-- END col-4 -->
          <div class="col-4">
            <div class="centered">
              <img src="{% static "dagbok/img/distance.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Sträcka" />
              <span class="workoutDetailsStyling">{{ workout.workoutStretch }} km</span>
            </div> <!-- END centered -->
          </div> <!-- END col-4 -->
          <div class="col-4">
            <div class="centered">
              <img src="{% static "dagbok/img/time-passing.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Tid" />
              <span class="workoutDetailsStyling">{{ workout.workoutTime }} min : {{ workout.workoutSec }} sek</span>
            </div> <!-- END centered -->
          </div> <!-- END col-4 -->
        </div> <!-- END row -->
        <div class="row">
          <div class="col-5">
            <ul class="workout-details-list">
              <li>
                <img src="{% static "dagbok/img/calories.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Kalorier" />
                {% if workout.kalorier == None %}
                <span class="workoutDetailsStyling-noborder">---</span>
                {% else %}
                <span class="workoutDetailsStyling-noborder">{{ workout.kalorier }}</span>
                {% endif %}
              </li>
            </ul>
          </div> <!-- END col-6 -->
          <div class="col-7">
            <ul class="workout-details-list">
              <li><strong>Hur kändes det?</strong></li>
              <li>{{ workout.workoutFeel }}</li>
            </ul>
          </div> <!-- END col-6 -->
        </div> <!-- END row -->
        <div class="row pulse-row-details">
          <div class="col-4">
            <div class="centered">
              <img src="{% static "dagbok/img/cardiogram.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Maxpuls" />
              {% if workout.puls == None %}
              <span class="workoutDetailsStyling-noborder">---</span>
              {% else %}
              <span class="workoutDetailsStyling-noborder">{{ workout.puls }}</span>
              {% endif %}
            </div> <!-- END centered -->
          </div> <!-- END col-4 -->
          <div class="col-4">
            <div class="centered">
              <img src="{% static "dagbok/img/heart.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Minpuls" />
              {% if workout.minpuls == None %}
              <span class="workoutDetailsStyling-noborder">---</span>
              {% else %}
              <span class="workoutDetailsStyling-noborder">{{ workout.minpuls }}</span>
              {% endif %}
            </div> <!-- END centered -->
          </div> <!-- END col-4 -->
          <div class="col-4">
            <div class="centered">
              <img src="{% static "dagbok/img/pulse.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Snittpuls" />
              {% if workout.snittpuls == None %}
              <span class="workoutDetailsStyling-noborder">---</span>
              {% else %}
              <span class="workoutDetailsStyling-noborder">{{ workout.snittpuls }}</span>
              {% endif %}
            </div> <!-- END centered -->
          </div> <!-- END col-4 -->
        </div><!-- END row -->

        <!-- STYRKETRÄNING -->
        {% elif workout.workoutSport == 'Styrketraening' %}
        <img src="{% static "dagbok/img/dumbells.svg" %}" width="40px" alt="Styrketräning" /><h4 class="modal-title workoutDetails">{{ workout.workoutSport }}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-4">
            <div class="centered">
              <img src="{% static "dagbok/img/calendar.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Datum" />
              <span class="workoutDetailsStyling">{{ workout.workoutDateNow.date }}</span>
            </div> <!-- END centered div -->
          </div> <!-- END col-4 -->
          <div class="col-4">
            <div class="centered">
              <img src="{% static "dagbok/img/weightlifter-frontal-silhouette.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Övning" />
              <span class="workoutDetailsStyling">{{ workout.gym_type }}</span>
            </div> <!-- END centered div -->
          </div> <!-- END col-4 -->
          <div class="col-4">
            <div class="centered">
              <img src="{% static "dagbok/img/weight-tool.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Vikt" />
              <span class="workoutDetailsStyling">{{ workout.gym_weight }} kg</span>
            </div> <!-- END centered div -->
          </div> <!-- END col-4 -->
        </div> <!-- END row -->
        <div class="row">
          <div class="col-5">
            <ul class="workout-details-list">
              {% if workout.gym_sets == 0 %}
              <li>
                <strong>Sets:</strong> ---
              </li>
              {% else %}
              <li>
                <strong>Sets:</strong> {{ workout.gym_sets }}
              </li>
              {% endif %}
              {% if workout.gym_reps == 0 %}
              <li>
                <strong>Reps:</strong> ---
              </li>
              {% else %}
              <li>
                <strong>Reps:</strong> {{ workout.gym_reps }}
              </li>
              {% endif %}
              <li>
                <img src="{% static "dagbok/img/calories.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Kalorier" />
                {% if workout.kalorier == None %}
                <span class="workoutDetailsStyling-noborder">---</span>
                {% else %}
                <span class="workoutDetailsStyling-noborder">{{ workout.kalorier }}</span>
                {% endif %}
              </li>
            </ul>
          </div> <!-- END col-6 -->
          <div class="col-7">
            <ul class="workout-details-list">
              <li><strong>Hur kändes det?</strong></li>
              <li>{{ workout.workoutFeel }}</li>
            </ul>
          </div> <!-- END col-6 -->
        </div> <!-- END row -->
        <div class="row pulse-row-details">
          <div class="col-4">
            <div class="centered">
              <img src="{% static "dagbok/img/cardiogram.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Maxpuls" />
              {% if workout.puls == None %}
              <span class="workoutDetailsStyling-noborder">---</span>
              {% else %}
              <span class="workoutDetailsStyling-noborder">{{ workout.puls }}</span>
              {% endif %}
            </div> <!-- END centered -->
          </div> <!-- END col-4 -->
          <div class="col-4">
            <div class="centered">
              <img src="{% static "dagbok/img/heart.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Minpuls" />
              {% if workout.minpuls == None %}
              <span class="workoutDetailsStyling-noborder">---</span>
              {% else %}
              <span class="workoutDetailsStyling-noborder">{{ workout.minpuls }}</span>
              {% endif %}
            </div> <!-- END centered -->
          </div> <!-- END col-4 -->
          <div class="col-4">
            <div class="centered">
              <img src="{% static "dagbok/img/pulse.svg" %}" width="30px" alt="" data-toggle="tooltip" title="Snittpuls" />
              {% if workout.snittpuls == None %}
              <span class="workoutDetailsStyling-noborder">---</span>
              {% else %}
              <span class="workoutDetailsStyling-noborder">{{ workout.snittpuls }}</span>
              {% endif %}
            </div> <!-- END centered -->
          </div> <!-- END col-4 -->
        </div><!-- END row -->

        {% endif %}

        <div class="row">
          <div class="col-6">
            <div class="align-left">
              <form action="/change_workout/{{workout.id}}">
                <button type="submit" class="btn btn-info">Redigera</button>
              </form>
            </div>
          </div>
          <div class="col-6">
            <div class="align-right">
                <form method="POST" action="{% url "delete_workout" %}">
                {% csrf_token %}
                <input type="hidden" name="workout_id" value="{{workout.id}}">
                    <button type="submit" class="btn btn-danger">Ta bort</button>
                </form>
            </div>
          </div>
        </div>

      </div> <!-- MODAL BODY END -->
      <div class="modal-footer">
        <div class="row">
          <div class="col-6 social-buttons">
            <div id="fb-root"></div>

            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/sv_SE/sdk.js#xfbml=1&version=v2.6";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

            <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-default" id="register-button" data-dismiss="modal">Stäng</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
