{% load staticfiles %}
{% include "dagbok/header.html" %}

    <a href="/forum/">Tillbaka till Kategorier</a>
{% if posts %}
<ul>
    {% for c in posts %}
        <li><a href="/forum/post/{{c.id}}">{{c.title}}</a></li>
    
    {% endfor %}
</ul>
{% else %}
    FInns inget här än.
{% endif %}

{% if form %}
<h1>Gör en ny tråd nedanför för Kategorin {{category}}</h1>
<form action="/forum/new_post/" method="post">
     {% csrf_token %}

    <input type="hidden" name="category" value="{{category}}">
    
{{form.as_p}}
<button type="submit" >Skapa</button>
</form>
{% endif %}

url: forum/category
{% include "dagbok/footer.html" %}
