body {
  background-color: #fefefe !important;
  height: 100vh !important;
}

#dashboard-menu {
  background-color: #293239;
  padding: 0;
  width: 250px;
}

#dashboard-menu h1 {
  font-family: "Arizonia";
  color: #6c8195;
  text-align: center;
  margin: 10px 0;
  font-size: 36px;
  letter-spacing: 1px;
}

#dashboard-menu .list-group-item {
  background-color: #293239;
  border-bottom: 1px solid #45586a;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}

#dashboard-menu a {
  color: #acbac7;
}

#dashboard-content {
  width: 100vw;
  position: relative;
  min-height: 100vh;
}

.display-table {
  display: table;
  padding: 0;
  min-height: 100vh;
  height: 100%;
}

.display-table-row {
  display: table-row;
  min-height: 100vh;
  height: 100%;
}

.display-table-cell {
  display: table-cell;
  float: none;
  min-height: 100vh;
  height: 100%;
}

.valign-top {
  vertical-align: top;
}

#nav-header {
  border-bottom: 1px solid #e7eaec;
}

#nav-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #676a6c;
}

#nav-header ul li {
  float: left;
  margin-left: 15px;
  padding: 17px 0;
}

#nav-header ul .fa {
  color: #676a6c;
}

#nav-header ul a {
  text-decoration: none;
}

#nav-header .logout {
  color: #676a6c;
}

#nav-header .logout:hover {
  color: #676a6c;
}

#nav-header #welcome {
  margin-right: 20px;
}

#nav-header ul .label {
  position: absolute;
  margin-top: -7px;
  margin-left: -6px;
}

#nav-header .fixed-width {
  width: 45px;
}

#header-search-field {
  background-color: #293239;
  color: #acbac7;
  margin-left: 10px;
  margin-bottom: 15px;
  width: 80%;
  padding-top: 17px;
  vertical-align: center;
  border-bottom: 1px solid #45586a;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  outline: none;
  display: inline;
}

#search-icon {
  display: inline;
  color: #45586a;
  font-size: 18px;
}

#dashboard-footer {
  width: 96%;
  min-height: 70px;
  background: none;
  color: #191919;
  position: absolute;
  bottom: 0px;
  border-top: 1px solid #e7eaec;
  padding-top: 20px;
}
