body {
  background-color: #f5f9fa !important;
  height: 100vh !important;
}

#dashboard-menu {
  background-color: #293239;
  padding: 0;
  width: 250px;
}

#dashboard-menu h1 {
  font-family: "Arizonia";
  color: #6c8195;
  text-align: center;
  margin: 10px 0;
  font-size: 36px;
  letter-spacing: 1px;
}

#dashboard-menu .list-group-item {
  background-color: #293239;
  border-bottom: 1px solid #45586a;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}

#dashboard-menu .list-group-item-collapsed {
  background-color: #1e2428;
  border-bottom: 0;
  border-top: 0;
  border-left: 3px solid #27ae60;
  border-right: 0;
  border-radius: 0;
  padding-left: 30px;
}

#dashboard-menu a {
  color: #acbac7;
}

#dashboard-content {
  width: 100vw;
  position: relative;
  min-height: 100vh;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.display-table {
  display: table;
  padding: 0;
  min-height: 100vh;
  height: 100%;
}

.display-table-row {
  display: table-row;
  min-height: 100vh;
  height: 100%;
}

.display-table-cell {
  display: table-cell;
  float: none;
  min-height: 100vh;
  height: 100%;
}

.valign-top {
  vertical-align: top;
}

#nav-header {
  border-bottom: 1px solid #e7eaec;
}

#nav-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #676a6c;
}

#nav-header ul li {
  float: left;
  margin-left: 15px;
  padding: 17px 0;
}

#nav-header ul .fa {
  color: #676a6c;
}

#nav-header ul a {
  text-decoration: none;
}

#nav-header .logout {
  color: #676a6c;
  margin-right: 15px;
}

#nav-header .logout:hover {
  color: #676a6c;
}

#nav-header #welcome {
  margin-right: 20px;
}

#nav-header ul .label {
  position: absolute;
  margin-top: -7px;
  margin-left: -6px;
}

#nav-header .fixed-width {
  width: 45px;
}

#header-search-field {
  background-color: #293239;
  color: #acbac7;
  margin-left: 10px;
  margin-bottom: 15px;
  width: 80%;
  padding-top: 17px;
  vertical-align: center;
  border-bottom: 1px solid #45586a;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  outline: none;
  display: inline;
}

#search-icon {
  display: inline;
  color: #45586a;
  font-size: 18px;
}

#dashboard-footer {
  width: 100%;
  min-height: 70px;
  background: none;
  color: #191919;
  border-top: 1px solid #e7eaec;
  padding: 20px;
}

#welcome-name {
  font-size: 14px;
}

#nav-header-fix {
  padding: 0 10px;
  background-color: #f4f7f8;
}

.label-warning {
  background-color: #27ae60 !important;
}

.chart-rect-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.chart-rect {
  background-color: white;
  border: 1px solid #d4d4d4;
  -webkit-box-shadow: 15px -11px 30px -8px rgba(0,0,0,0.12);
  -moz-box-shadow: 15px -11px 30px -8px rgba(0,0,0,0.12);
  box-shadow: 15px -11px 30px -8px rgba(0,0,0,0.12);
  height: 100%;
  width: 450px;
  margin: 10px;
  padding: 10px;
}

.widget-header {
  border-bottom: 1px solid #d4d4d4;
  padding-bottom: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  color: #45586a;
}

.icon-padding {
  padding-left: 7px;
}

.form-control {
  width: 100% !important
}

#selectFastWorkout {
  width: 70% !important;
  margin-bottom: 10px;
}

.fast-workout-label {
  font-weight: bold;
  font-size: 14px;
  padding-top: 7px;
}

.input-group-workout {
  width: 75% !important;
}
